body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: max-content;
}

@font-face {
  font-family: brand;
  /* Name your font */
  src: url("font.ttf") format("truetype");
  /* Relative path to your font file */
}

a {
  text-decoration: none;
}

.branding {
  text-align: center !important;
  font-family: brand, Arial, sans-serif !important;
  color: hsl(0, 0%, 0%) !important;
  font-size: 150px;
  background-color: #ff5114;
  display: inline-block;
  /* Ensures each letter is animated individually */
  overflow: hidden;
  /* Ensures text doesn't overflow container */
}

.branding .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.branding .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;

  transform-origin: 100% 100%;
  bottom: 0;
}

.branding .letter {
  display: inline-block;
  line-height: 1em;
}

/* .one{
    padding: 0;
    margin: 0;
    width: 200rem;
} */
.active {
  color: #ff5114 !important;
  text-decoration: underline;
}

.logo {
  width: 150px;
}

.icon {
  padding-left: 10%;
}

/* Gigs */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  transition: 1s;
}

.column img:hover {
  opacity: 0.8;

  transform: scale(1.1);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .branding {
    font-size: 75px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* end gigs */

/* about start  */

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}



.adc{
width: 100%;
margin: 0 ;
padding: 0;
}



.adc .supp{
margin: 0px;
padding: 0px;

}


.adc .supp .logo-supp{
  margin: 0;
  padding: 0;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  height: 65vh;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* end about  */

/* start zero */

.zero {
  height: max-content;
}

.footer {
  background: #000000;
  padding-top: 80px;
  padding-bottom: 40px;
}

.single_footer {
}
@media only screen and (max-width: 768px) {
  .single_footer {
    margin-bottom: 30px;
  }
}
.single_footer h4 {
  color: #ff5114;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #ff5114;
  margin-top: 20px;
}
.single_footer p {
  color: #ff5114;
}
.single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.single_footer ul li {
}
.single_footer ul li a {
  color: #ff5114;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
}
.single_footer ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.single_footer_address {
}
.single_footer_address ul {
}
.single_footer_address ul li {
  color: #ff5114;
}
.single_footer_address ul li span {
  font-weight: 400;
  color: #ff5114;
  line-height: 28px;
}
.contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
}
.subscribe__input {
  background-color: #fff;
  border: medium none;
  border-radius: 5px;
  color: #ff5114;
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 150px 0 20px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .subscribe__input {
    padding: 0 50px 0 20px;
  }
}

.subscribe__btn {
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  color: #ff5114;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}
.subscribe__btn i {
  transition: all 0.3s ease 0s;
}
@media only screen and (max-width: 768px) {
  .subscribe__btn {
    right: 0px;
  }
}

.subscribe__btn:hover i {
  color: #ff5114;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {
  margin-top: 40px;
}
.social_profile ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.social_profile ul li {
  float: left;
}
.social_profile ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #ff5114;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 768px) {
  .social_profile ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .social_profile ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
.social_profile ul li a:hover {
  background: #ff3666;
  border: 1px solid #ff3666;
  color: #ff5114;
  border: 0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
  margin-top: 70px;
  padding-top: 40px;
  color: #fff;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}
.copyright a {
  color: #ff5114;
  transition: all 0.2s ease 0s;
}
.copyright a:hover {
  color: #ffffff;
}

.fot_log {
  display: flex;
  justify-content: center;
}
.social_profile {
  color: #ff5114;
}

.branding-text {
  font-family: "Arial", sans-serif;
  color: #333;
  font-weight: 700;
  line-height: 1.6;
  font-size: 1.5em;
}

.branding-text h6 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.branding-text p {
  margin-bottom: 15px;
}

.branding-text span.highlight {
  color: #ff5114; /* Highlight color */
  font-weight: bold;
}

/* Add additional styles as needed */

@media (max-width: 375px) {
  .branding .text-wrapper {
    font-size:50px;
  }
}


@media(max-width: 414px){

.branding .text-wrapper{
  font-size: 60px;
}

}

@media(max-width: 430px){
  .branding .text-wrapper{
    font-size: 60px;
  }
}


@media (max-width: 1024px) {
  /* .branding .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
} */

  .branding {
    font-size: 100px;
    width: max-content;
  }
}
